<link rel="stylesheet" href="../../css/WorkersTable/index.css" />

<div class="container-fluid px-4">
  <div class="row d-flex justify-content-between align-content-center">
    <div class="col-auto"><h2>Table with Progress Bar</h2></div>
    <div class="col-auto">
      <button
        id="deleteButton"
        class="btn btn-danger disabled"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="widget blank no-padding">
        <div
          class="panel panel-default work-progress-table"
          style="max-width: 100%; overflow-x: auto">
          <!-- Table -->
          <% if (workers) { %>
          <table id="mytable" class="table">
            <thead>
              <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Correo</th>
                <th>CI</th>
                <th>Categoría Docente</th>
                <th>Grado Científico</th>
                <th>Especialidad</th>
                <th>Cargo</th>
                <th>Disponibilidad</th>
              </tr>
            </thead>
            <tbody id="tableBody">
              <% for (let i = 0; i < workers.length; i++) { %>
              <tr>
                <td><input id="<%= workers[i].id %>" type="checkbox" class="checkthis" /></td>
                <td><%= workers[i].name %></td>
                <td><%= workers[i].lastName %></td>
                <td><%= workers[i].age %></td>
                <td><%= workers[i].email %></td>
                <td><%= workers[i].ci %></td>
                <td><%= workers[i].teachingCategory %></td>
                <td><%= workers[i].scientificDegree %></td>
                <td><%= workers[i].speciality %></td>
                <td><%= workers[i].charge %></td>
                <td><%= workers[i].availability === 1? 'Si' : 'No' %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../Generals/modal', { idModal:'exampleModal', actionBMsg:'Eliminar', title: 'Eliminar datos', msg:'¿Desea eliminar esta información?', handler: 'deleteData'}) %>

  <script>
    const deleteData = () => {
        let dataToDelete = []
        document.querySelectorAll('.checkthis').forEach(item => {
          if(item.checked) dataToDelete.push(item.id)
        })

        const data = new URLSearchParams();
        data.append('dataToDelete', JSON.stringify(dataToDelete));

        fetch("/delete", {
          method: "POST",
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: data.toString(),
        }).then(resp => window.location.reload())

      }
    document.addEventListener('DOMContentLoaded', function () {
      const tableBodyCheckBoxes = document.querySelectorAll('.checkthis');
      const deleteButton = document.getElementById('deleteButton');
      const checkAll = document.querySelector('#mytable #checkall');

      
      tableBodyCheckBoxes.forEach(item => {
        item.addEventListener('click', () => checkSelectedCheckBoxes());
      });

      const checkSelectedCheckBoxes = () => {
        let flag = false;
        tableBodyCheckBoxes.forEach(item => {
          if (item.checked) flag = true;
        });

        flag
          ? deleteButton.classList.remove('disabled')
          : deleteButton.classList.add('disabled');
      };

      checkAll.addEventListener('click', function () {
        if (checkAll.checked) {
          deleteButton.classList.remove('disabled');
          let checkboxes = document.querySelectorAll(
            '#mytable input[type=checkbox]',
          );
          checkboxes.forEach(function (checkbox) {
            checkbox.checked = true;
          });
        } else {
          deleteButton.classList.add('disabled');
          let checkboxes = document.querySelectorAll(
            '#mytable input[type=checkbox]',
          );
          checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
          });
        }
      });

      var tooltips = document.querySelectorAll('[data-toggle=tooltip]');
      tooltips.forEach(function (tooltip) {
        new bootstrap.Tooltip(tooltip);
      });
    });
  </script>
</div>
