<table id="mytable" class="table ">
  <thead>
    <tr>
      <th><input type="checkbox" id="checkall" /></th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Departamento</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {{#each users}}
    <tr style="vertical-align: middle;">
      <td><input id="{{id}}" type="checkbox" class="checkthis" /></td>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{department}}</td>
      <td>
        <a href="/users/{{id}}" class="btn btn-outline-secondary p-2 ">
          <i class="bi bi-eye-fill" style="font-size: 1.3rem;"></i>
          </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>