<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/global.css" />
    <style>
      /* .table {
        overflow-x: auto;
        max-width: 400px;
      } */
    </style>
  </head>
  <body>
    <% if (workers) { %>

    <table class="table table-striped">
      <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Correo</th>
          <th scope="col">CI</th>
          <th scope="col">Categoría Docente</th>
          <th scope="col">Grado Científico</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Cargo</th>
          <th scope="col">Disponibilidad</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < workers.length; i++) { %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= workers[i].name %></td>
          <td><%= workers[i].lastName %></td>
          <td><%= workers[i].age %></td>
          <td><%= workers[i].email %></td>
          <td><%= workers[i].ci %></td>
          <td><%= workers[i].teachingCategory %></td>
          <td><%= workers[i].scientificDegree %></td>
          <td><%= workers[i].speciality %></td>
          <td><%= workers[i].charge %></td>
          <td><%= workers[i].availability === 1? 'Si' : 'No' %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
    
  </body>
</html>
