<form action="/workers/edit/{{worker.id}}" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="name" value="{{worker.name}}">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="lastName" value="{{worker.lastName}}">
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="text" class="form-control" id="edad" name="age" value="{{worker.age}}">
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="text" class="form-control" id="email" name="email" value="{{worker.email}}">
            </div>
            <div class="form-group">
                <label for="ci">CI:</label>
                <input type="text" class="form-control" id="ci" name="ci" value="{{worker.ci}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="categoria">Categoría de enseñanza:</label>
                <input type="text" class="form-control" id="categoria" name="teachingCategory"
                    value="{{worker.teachingCategory}}">
            </div>
            <div class="form-group">
                <label for="grado">Grado científico:</label>
                <input type="text" class="form-control" id="grado" name="scientificDegree"
                    value="{{worker.scientificDegree}}">
            </div>
            <div class="form-group">
                <label for="especialidad">Especialidad:</label>
                <input type="text" class="form-control" id="especialidad" name="speciality"
                    value="{{worker.speciality}}">
            </div>
            <div class="form-group">
                <label for="cargo">Cargo:</label>
                <input type="text" class="form-control" id="cargo" name="charge" value="{{worker.charge}}">
            </div>
            <div class="form-group">
                <div>Disponible:</div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" checked id="disponible-si" value="1"
                        name="availability">
                    <label class="form-check-label" for="disponible-si">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="disponible-no" value="0" name="availability">
                    <label class="form-check-label" for="disponible-no">No</label>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right mt-3">
        <button type="submit" class="btn btn-primary mr-2">Guardar cambios</button>
        <a href="/workers" class="btn btn-secondary">Cancelar</a>
    </div>
</form>